<header>
    <div class="logo">

    </div>
    <nav>
      <ul>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
      </ul>
    </nav>
    <input type="search" value="" placeholder="Buscar">
</header>