<!DOCTYPE html>
<html>
  <%- include('partials/head.ejs')  %> 
  <body>
    <%- include('partials/header.ejs')  %>
      <div class="products">
        <section>
          <article></article>
          <article></article>
          <article></article>
          <article></article>
        </section>
        <section>
          <article></article>
          <article></article>
          <article></article>
          <article></article>
        </section>
      </div>
    <%- include('partials/footer.ejs')  %>
  </body>
</html>
