/* HEADER */

header{
    background-color: beige;
    height: 100px;
    width: 100vw;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0px 0px #bf9191d1, 0em 0 2.4em olive;
    position: sticky;
    top: 0px;
}
header .logo{
    background-color: cadetblue;
    width: 10vw;
    height: 50px;

}
header nav{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}
header nav ul{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
header nav ul li{
    display: inline;
}
header input[type=search]{
    height: 50px;
    width: 30%;
    border-radius: 10px;
    border: none;
    padding: 10px;
}
/* FINALIZA HEADER */